<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs") %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-4">

      <!-- MAIN WINDOW (FULL) -->
      <div class="col-12">
        <section id="main-full" class="border-red error-404">
          <p class="display-4">404: Page not found</p>
          <div class="divider-h d-block border-red"></div>
          <p class="lead">Sorry, the URL you entered is invalid or no longer exists. :(</p>
          <br>
          <a href="/">
            <button class="btn-custom btn-custom-red">Back to safety</button>
          </a>
        </section>
      </div>

      </main>

  <%- include("partials/_footer.ejs") %>

  </body>

</html>