<!DOCTYPE html>
<html lang="en">

<head>
  <title>404 - InquizitorApp</title>
  <%- include("partials/_imports.ejs") %>
</head>

<body>

  <%- include("partials/_header.ejs", {alerts, userData, currentPage, data: {}}) %>

  <main class="container d-flex flex-column flex-lg-row mt-lg-4">

    <!-- MAIN CONTENT (FULL) -->
    <div class="col-12">
      <section id="main-full" class="border-red error-404 d-flex flex-column justify-content-center">
        <p class="display-4">404: Page not found</p>
        <div class="divider-h d-block border-red"></div>
        <p class="lead">Sorry, the URL you entered is invalid or no longer exists. :(</p>
        <br>
        <div>
          <a href="/home">
            <button class="btn-custom btn-custom-red">Back to safety</button>
          </a>
        </div>
      </section>
    </div>

  </main>

  <%- include("partials/_footer.ejs") %>

</body>

</html>