<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <!-- Bootstrap CSS -->
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs") %>

    <h1>Quiz App - DASHBOARD</h1>

  </body>

</html>