<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-4">

    <!-- MAIN WINDOW (SPLIT) -->
    <div class="col-12 col-lg-8">
      <section id="main-split" class="border-blue">

        <div class="d-flex flex-row justify-content-between list-quiz">
          <div class="d-flex flex-column">
            <p class="h3">World Capitals</p>
            <p>Do you know the capitals of every country in the the world?</p>
          </div>
          <img src="/public/images/arrow-green.png" alt="arrow" />
          <button class="btn-custom btn-custom-primary justify-content-end align-self-center">
            GO
          </button>
        </div>


      </section>
    </div>

    <!-- MAIN WINDOW (FULL) -->
    <!-- <div class="col-12">
      <section id="main-full">
      </section>
    </div> -->

    <!-- SIDE PANELS (SPLIT) -->
    <div class="col-12 col-lg-4">
      <section id="side-split-top" class="ml-lg-1 border-red">
        <%= userData ? `Signed in as ${userData.username}` : "" %>
      </section>

      <!-- LEADERBOARDS -->
      <section id="side-split-bottom" class="ml-lg-1 border-green">

      </section>

    </div>

    <!-- SIDE PANEL (FULL) -->
    <!-- <div class="col-12 col-lg-4">
      <section id="side-full" class="ml-lg-1">
      </section>
    </div> -->

    </main>

  <%- include("partials/_footer.ejs") %>

  </body>

</html>