<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs") %>

    <h1>Quiz App - INDEX</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium commodo justo ac accumsan. Suspendisse in ligula sit amet libero porta mattis sed non orci. Suspendisse sollicitudin, erat et suscipit bibendum, urna velit imperdiet lorem, in fermentum nibh tortor nec massa. Cras facilisis ex imperdiet, lacinia dolor quis, lacinia risus. Fusce libero libero, aliquam non porta eu, rutrum in elit. Aliquam accumsan magna sit amet purus vestibulum cursus. Duis non dui at est convallis dignissim sed nec eros. Proin viverra nunc lacus, eget luctus sapien hendrerit vitae. Cras at quam posuere, ullamcorper orci sit amet, iaculis tellus.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium commodo justo ac accumsan. Suspendisse in ligula sit amet libero porta mattis sed non orci. Suspendisse sollicitudin, erat et suscipit bibendum, urna velit imperdiet lorem, in fermentum nibh tortor nec massa. Cras facilisis ex imperdiet, lacinia dolor quis, lacinia risus. Fusce libero libero, aliquam non porta eu, rutrum in elit. Aliquam accumsan magna sit amet purus vestibulum cursus. Duis non dui at est convallis dignissim sed nec eros. Proin viverra nunc lacus, eget luctus sapien hendrerit vitae. Cras at quam posuere, ullamcorper orci sit amet, iaculis tellus.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium commodo justo ac accumsan. Suspendisse in ligula sit amet libero porta mattis sed non orci. Suspendisse sollicitudin, erat et suscipit bibendum, urna velit imperdiet lorem, in fermentum nibh tortor nec massa. Cras facilisis ex imperdiet, lacinia dolor quis, lacinia risus. Fusce libero libero, aliquam non porta eu, rutrum in elit. Aliquam accumsan magna sit amet purus vestibulum cursus. Duis non dui at est convallis dignissim sed nec eros. Proin viverra nunc lacus, eget luctus sapien hendrerit vitae. Cras at quam posuere, ullamcorper orci sit amet, iaculis tellus.
    </p>

  </body>

</html>