<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs") %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-3 mb-4 border">

    <!-- MAIN WINDOW -->
    <div class="col-12 col-lg-8">
      <section id="main-section" class="mb-lg-0">
      </section>
    </div>

    <!-- SIDE PANELS -->
    <div class="col-12 col-lg-4">
      <section id="side-top" class="ml-lg-2">
      </section>
      <section id="side-bottom" class="ml-lg-2">
      </section>
    </div>

    </main>

  <%- include("partials/_footer.ejs") %>

  </body>

</html>