<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs") %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-3 mb-4">

    <section id="main-section" class="mb-4 mb-lg-0"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium commodo justo ac accumsan. Suspendisse in ligula sit amet libero porta mattis sed non orci. Suspendisse sollicitudin, erat et suscipit bibendum, urna velit imperdiet lorem, in fermentum nibh tortor nec massa. C
    </p></section>
    <div class="w-100">
      <section id="side-top" class="mb-4 ml-lg-4"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium commodo justo ac accumsan. Suspendisse in ligula sit amet libero porta mattis sed non orci. Suspendisse sollicitudin, erat et suscipit bibendum, urna velit imperdiet lorem, in fermentum nibh tortor nec m
      </p></section>
      <section id="side-bottom" class="ml-lg-4"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium commodo justo ac accumsan. Suspendisse in ligula sit amet libero porta mattis sed non orci. Suspendisse sollicitud
      </p></section>
    </div>

    </main>

  <%- include("partials/_footer.ejs") %>

  </body>

</html>