<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-4">

    <!-- MAIN WINDOW (SPLIT) -->
    <div class="col-12 col-lg-9">
      <section id="main-split" class="border-blue overflow-auto">

        <!-- LIST OF ALL QUIZZES (need quiz name, description, id)-->

        <div class="d-flex flex-row justify-content-between align-items-center list-quiz">
          <div class="col-8">
            <p class="quiz-title mt-3 mt-lg-0">Quiz Name #1</p>
            <p class="quiz-desc d-none d-lg-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <img class="quiz-go col-3 col-md-2" src="https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/arrow-green.png" alt="arrow" />
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center list-quiz">
          <div class="col-8">
            <p class="quiz-title mt-3 mt-lg-0">Quiz Name #2</p>
            <p class="quiz-desc d-none d-lg-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <img class="quiz-go col-3 col-md-2" src="https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/arrow-green.png" alt="arrow" />
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center list-quiz">
          <div class="col-8">
            <p class="quiz-title mt-3 mt-lg-0">Quiz Name #3</p>
            <p class="quiz-desc d-none d-lg-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <img class="quiz-go col-3 col-md-2" src="https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/arrow-green.png" alt="arrow" />
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center list-quiz">
          <div class="col-8">
            <p class="quiz-title mt-3 mt-lg-0">Quiz Name #4</p>
            <p class="quiz-desc d-none d-lg-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <img class="quiz-go col-3 col-md-2" src="https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/arrow-green.png" alt="arrow" />
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center list-quiz">
          <div class="col-8">
            <p class="quiz-title mt-3 mt-lg-0">Quiz Name #4</p>
            <p class="quiz-desc d-none d-lg-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <img class="quiz-go col-3 col-md-2" src="https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/arrow-green.png" alt="arrow" />
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center list-quiz">
          <div class="col-8">
            <p class="quiz-title mt-3 mt-lg-0">Quiz Name #4</p>
            <p class="quiz-desc d-none d-lg-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <img class="quiz-go col-3 col-md-2" src="https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/arrow-green.png" alt="arrow" />
        </div>


      </section>
    </div>

    <!-- MAIN WINDOW (FULL) -->
    <!-- <div class="col-12">
      <section id="main-full">
      </section>
    </div> -->

    <!-- SIDE PANELS (SPLIT) -->
    <div class="col-12 col-lg-4">
      <section id="side-split-top" class="ml-lg-1 border-red sticky-top">
        <%= userData ? `Signed in as ${userData.username}` : "" %>
      </section>

      <!-- LEADERBOARDS -->
      <section id="side-split-bottom" class="ml-lg-1 border-green sticky-top">

      </section>

    </div>

    <!-- SIDE PANEL (FULL) -->
    <!-- <div class="col-12 col-lg-4">
      <section id="side-full" class="ml-lg-1">
      </section>
    </div> -->

    </main>

  <%- include("partials/_footer.ejs") %>

  </body>

</html>