<span class="avg-rating d-flex flex-row ml-2">

  <% const fullStars = Math.floor(average) %>
  <% const halfStar = (average - fullStars) >= 0.25 %>

  <% for (let i = 0; i < fullStars; i++) { %>
    <img src="/images/star.png" alt="star">
  <% } %>
  <% if (halfStar) { %>
    <img src="/images/star-half.png" alt="star">
  <% } %>

</span>