<header>
  <a href="/">index</a>
  <a href="/register">register</a>
  <a href="/login">login</a>
  <a href="/logout">logout</a>
  <a href="/quizzes">all quizzes</a>
  <a href="/quizzes/new">new quiz</a>
</header>