<header>
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="navigation">
    <div class="container">
        <a class="navbar-brand ml-lg-3" href="/">InquizitorApp<img src="https://raw.githubusercontent.com/itspladd/quiz-app/main/public/images/lightbulb-light.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav d-flex flex-column flex-xl-row m-0 justify-content-xl-between w-100">

            <div id="app-links" class="d-flex flex-column flex-xl-row align-items-xl-center ml-lg-3">
              <!-- APP NAV LINKS (always shown) -->
              <li class="nav-item my-2 ml-xl-3"><a class="nav-link" href="/">HOME</a></li>
              <li class="nav-item my-2 ml-xl-3"><a class="nav-primary nav-link" href="/quizzes">ALL QUIZZES</a></li>

              <!-- APP NAV LINKS (shown if user is currently logged in)-->
              <% if (userData) { %>
                <li class="nav-item my-2 ml-xl-3"><a class="nav-blue nav-link" href="/quizzes/new">CREATE</a></li>
                <li class="nav-item my-2 ml-xl-3"><a class="nav-green nav-link" href="/study">STUDY</a></li>
                <li class="nav-item my-2 ml-xl-3"><a class="nav-purple nav-link" href="/users/dashboard">DASHBOARD</a></li>
                  <% } %>
                </div>

                <div id="user-links" class="d-flex flex-column flex-xl-row align-items-xl-center mx-lg-3">
                  <% if (!userData) { %>

                    <!-- USER NAV LINKS (shown if user is currently not logged in) -->
                    <li class="nav-item my-2 ml-xl-3"><a class="nav-link" href="/login">LOGIN</a></li>
                    <li class="nav-item my-2 ml-xl-3"><a class="nav-primary nav-link" href="/register">REGISTER</a></li>

                  <% } else { %>

                    <!-- USER NAV LINKS (shown if user is currently logged in) -->
                    <li class="nav-item my-2 ml-xl-3"><a class="nav-link" href="/account">ACCOUNT</a></li>
                    <li class="nav-item my-2 ml-xl-3">
                      <form class="form-inline" action="/logout" method="POST">
                        <button id="nav-logout" type="submit" class="btn-nav">
                          LOGOUT
                        </button>
                      </form>
                    </li>

                <% } %>
              </div>

            </ul>
        </div>
    </div>
  </nav>
  <!-- SPACER -->
  <div id="nav-spacer" class="mt-md-3"></div>
</header>

<!-- FLASH MESSAGES -->
<div class="container">
  <%- include("_flash.ejs", {userData, alerts}) %>
</div>