<header>
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="navigation">
    <div class="container">
        <a class="navbar-brand ml-lg-3" href="/">InquizitorApp<img src="https://raw.githubusercontent.com/itspladd/quiz-app/main/public/images/lightbulb-light.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/register">REGISTER</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/login">LOGIN</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/logout">LOGOUT</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/quizzes">ALL</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/quizzes/new">NEW</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/quizzes/123">SHOW</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/users/dashboard">DASHBOARD</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <!-- SPACER -->
  <div id="nav-spacer" class="mt-md-3"></div>
</header>