<section id="side-split-bottom" class="ml-lg-1">
  <p class="h3 mb-4 d-flex align-items-center"><img src="/images/fire.png" alt="fire"> Trending</p>

  <div id="trending">

    <div class="trending-item">
      <div class="d-flex flex-row align-items-center">
        <div class="trending-number">
          #1
        </div>
        <div>
          <div class="trending-title">Quiz Title</div>
          <div class="trending-plays">Total Plays: 1337</div>
        </div>
      </div>
    </div>

  </div>
</section>