<!-- TRENDING PANEL -->
<section id="side-split-bottom" class="ml-lg-1">

  <p class="h3 mb-4 d-flex align-items-center"><img src="/images/fire.png" alt="fire"> Trending</p>

  <div id="trending">

    <% for (let i = 0; i < rankData.length; i++) { %>
    <a href="/quizzes/<%= rankData[i].id %>" class="trending-item">
      <div class="d-flex flex-row align-items-center justify-content-start">
        <div class="trending-number d-flex justify-content-center">
          #<%= i + 1 %>
        </div>
        <div>
          <div class="trending-title">
            <%= rankData[i].title %>
          </div>
          <div class="trending-plays d-none d-xl-flex">
            Rating:
            <span class="ml-2">
              <%- include("_avg_rating.ejs", {average: rankData[i].average_rating}) %>
            </span>
          </div>
        </div>
      </div>
    </a>
    <% } %>

  </div>

</section>