@import "global";

#account-avatars {

  border: 1px solid $light;

  input {
    height: 4.5rem;
    width: 4.5rem;
    margin: 0.2rem;
    outline: none;
    border: 4px solid transparent;
    opacity: 0.9;
    &:hover {
      border-color: $tertiary-lighter;
      border-radius: 100%;
      opacity: 1;
    }
  }

}