@import "global";

.list-quiz {

  &.quiz-public {

    border-color: $primary-darker;

    &:hover {
      border-color: $primary;
    }

    .quiz-visibility {
      font-size: 0.8rem;
      color: $primary;
    }

  }

  &.quiz-unlisted {

    border-color: $blue-darker;

    &:hover {
      border-color: $blue;
    }

    .quiz-visibility {
      font-size: 0.8rem;
      color: $blue;
    }

  }

}

.abandoned {
  color: $red;
  font-size: 0.7rem;
  margin-right: 0.9rem;
}
