@import "global";

.user-dash-control {
  .btn-custom {
    width: 6rem;
  }
}

#user-quizzes {

  .quiz-public {
    color: $primary;
  }

  .quiz-unlisted {
    color: $blue;
  }

}
