@import "global";

.user-dash-control {
  .btn-custom {
    width: 6rem;
  }
  .btn-custom-green {
    background-color: $green-transparent;
  }
  .btn-custom-red {
    background-color: $red-transparent;
  }
  .btn-custom-yellow {
    background-color: $yellow-transparent;
  }
  .btn-custom-blue {
    background-color: $blue-transparent;
  }
}