@import "global";

.divider-h {
  border-left: 3px solid $primary-darker;
  margin: 0 3rem;
}

.divider-v {
  border-bottom: 3px solid $primary-darker;
  margin: 2rem 0 3rem 0;
}

.form-register {
  background-color: $tertiary-darker;
  border: 4px solid $primary-darker;
}