// $primary: #e22d4b;
$primary: #fad207;
$primary-darker: #faa515;
$secondary: #50758d;
$secondary-darker: #2b597f;
$tertiary: #222338;
$white: #fff;
$dark: #111318;
$font-ss: "Montserrat", sans-serif;
$font-mono: "Lato", sans-serif;