$red: #e22d4b;
$red-darker: #bd2942;
$blue: #008cff;
$blue-darker: #0072cf;
$green: #31f37b;
$green-darker: #23ce64;
$purple: #9a4dff;
$purple-darker: #8040d3;
$pink: #ff55a4;

$primary: #fad207;
$primary-darker: #faa515;
$secondary: #50758d;
$secondary-darker: #2b597f;
$tertiary: #222338;
$tertiary-darker: #1a1b2b;
$white: rgb(219, 219, 219);
$light: #ffffff79;
$dark: #111318;

$font-ss: "Montserrat", sans-serif;
$font-mono: "Lato", sans-serif;