@import "global";

#dev-log {
  width: 100%;
  border: 1px solid $tertiary;
  &.console {
    background-color: rgba(12, 12, 12, 0.548);
    height: 23rem;
    overflow: auto;
    padding: 0.7rem 1rem;
    border: 1px solid $tertiary-lighter;

    &::-webkit-scrollbar {
      width: 0.25em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px $dark;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $tertiary;
    }
  }
  code,
  pre {
    color: $white;
    .ahhreggi {
      color: $pink;
    }
    .pladd {
      color: $green;
    }
    .comment {
      color: $light;
    }
    .system {
      color: $white;
    }
  }
}

#featured-quizzes {

  a > .list-quiz {
    border-width: 2px;
    padding: 1rem;
    &:hover {
      border-width: 2px;
    }
    .title {
      font-size: 1.2rem;
    }
    .author {
      font-size: 0.9rem;
      font-weight: 700;
      &.admin {
        color: $primary;
      }
    }
  }

}


@media (min-width: 1202px) {

  #featured-quizzes {
    .list-quiz {

      width: 13.1rem;

    }
  }

}