@import "global";

#navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $tertiary;
  font-weight: 700;
  user-select: none;

  a {
    color: $white;
  }

  button {
    color: $white;
    font-weight: 700;
    background-color: transparent;
    border: none;

    &:hover {
      color: $primary;
    }

  }

  img {
    width: 2rem;
    margin-left: 0.5rem;
    padding-bottom: 0.2rem;
  }

  li a:hover {
    color: $primary;
  }

}