.quiz-review {
  border: 2px solid $white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;

  img {
    height: 0.75rem;
    width: 0.75rem;
    margin-bottom: 0.1rem;
  }

  .review-title {
    font-weight: 700;
  }

  .review-timestamp {
    font-size: 0.8rem;
  }

}