@import "global";

.list-quiz {
  border: 2px solid $white;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.quiz-title {
  font-size: 1.5rem;
}