@import "global";

.quiz-review {
  border: 2px solid $white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;

  img {
    height: 0.75rem;
    width: 0.75rem;
    margin-bottom: 0.1rem;
  }

  .review-title {
    font-weight: 700;
  }

  .review-timestamp {
    font-size: 0.8rem;
  }

}

#quiz-question {
  min-height: 8rem;
}

#quiz-answers {
  &:hover {
    cursor: pointer;
  }

  :nth-child(1) {
    border-color: $red-darker;
    &:hover {
      border-color: $red;
      background-color: $tertiary;
    }
    &:active {
      background-color: $tertiary-darker;
    }
  }
}

.quiz-option {
  font-size: 0.9rem;
  border: 2px solid $white;
  border-radius: 0.25rem;
  padding: 1rem;
  min-height: 6rem;
  margin-top: 0.5rem;
  word-wrap: break-word;
  user-select: none;
  transition: 0.1s;
}