@import "global";

.new-question {
  border: 2px solid $light;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;

  &:hover {
    border-color: $white;
    background-color: $tertiary;
  }

}

#new-quiz-error {
  color: $red;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.add-control {

  user-select: none;
  // border: 2px solid red;
  display: flex;

  .control-desc {
    visibility: visible;
    &.control-del {
      color: $red;
    }
    &.control-add {
      color: $green;
    }
  }

  .icon {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-self: flex-end;
    margin: 0rem 0.5rem 0 0;
    opacity: 0.8;
    cursor: pointer;

    &.icon-add {
      content: url("https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/plus.png");
    }

    &.icon-del {
      content: url("https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/cancel.png");
    }

    &:hover {
      opacity: 1;
    }

}


}
