@import "global";

.list-quiz {
  border: 2px solid $light;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;

  p {
    color: $white;
  }

  &:hover {
    border-color: $white;
    background-color: $tertiary;

    img {
      opacity: 1;
    }

  }

}

.quiz-title {
  font-size: 1.5rem;
}

.quiz-author {
  font-size: 0.75rem;
}

.quiz-go {
  width: 4rem;
  opacity: 0.75;
}