@import "global";

#results-score {
  margin: 2rem 0;
  .green {
    color: $green;
  }
  .yellow {
    color: $primary;
  }
  .red {
    color: $red;
  }
  .results-bold {
    font-size: 1.5rem;
    padding: 0.4rem 0.6rem;
  }
  .results-username {
    padding-left: 0;
  }
}

.results-bold {
  font-weight: 700;
}

.results-response {
  border: 2px solid $light;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  user-select: none;
}

.response-incorrect {
  border-color: $red;
  background-color: $red-transparent;

  .results-correctness {
    color: $red;
  }

}

.response-correct {
  border-color: $green;
  background-color: $green-transparent;

  .results-correctness {
    color: $green;
  }

}