@import "global";

#side-split-top {
  background-color: $tertiary-darker;
  min-height: 9rem;
  margin-bottom: 2rem;

  .panel-username {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: $font-mono;
  }
  .panel-avatar {
    width: 4rem;
    margin-right: 1rem;
  }
}

#side-split-bottom {
  background-color: $tertiary-darker;
  min-height: 34rem;
  padding: 0;

  p {
    margin: 2rem 2rem;

    img {
      width: 2.1rem;
      margin-right: 1.5rem;
    }
  }
}

#trending {
  height: 28rem;

  .trending-number {
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 3rem;
  }

  .trending-item {
    height: 4rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:nth-child(odd) {
      background-color: $tertiary;
    }
    .trending-title {
      font-weight: bold;
      font-family: $font-mono;
    }
    .trending-plays {
      font-size: 0.8rem;
    }
    .trending-go {
      width: 2rem;
    }
  }

}


#side-full {
  min-height: 45rem;
}
