#navigation {
  min-height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #222338;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#navigation a {
  color: #eeeeee;
}

#navigation button {
  color: #e22d4b;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

#navigation button:hover {
  color: #bd2942;
}

#navigation img {
  width: 2rem;
  margin-left: 0.5rem;
  padding-bottom: 0.2rem;
}

#navigation li a:hover {
  color: #fad207;
}

#navigation button,
#navigation .nav-link {
  margin: 0;
  padding: 0;
}

#app-links .nav-primary,
#user-links .nav-primary {
  color: #fad207;
}

#app-links .nav-primary:hover,
#user-links .nav-primary:hover {
  color: #faa515;
}

#app-links .nav-primary-darker,
#user-links .nav-primary-darker {
  color: #faa515;
}

#app-links .nav-primary-darker:hover,
#user-links .nav-primary-darker:hover {
  color: #fad207;
}

#app-links .nav-blue,
#user-links .nav-blue {
  color: #008cff;
}

#app-links .nav-blue:hover,
#user-links .nav-blue:hover {
  color: #0072cf;
}

#app-links .nav-green,
#user-links .nav-green {
  color: #31f37b;
}

#app-links .nav-green:hover,
#user-links .nav-green:hover {
  color: #23ce64;
}

#app-links .nav-purple,
#user-links .nav-purple {
  color: #9a4dff;
}

#app-links .nav-purple:hover,
#user-links .nav-purple:hover {
  color: #8040d3;
}

.nav-item .inactive,
.nav-item .active {
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

@media (min-width: 1202px) {
  .nav-item .active {
    border-bottom-color: #eeeeee;
  }
}

form .form-control,
form .custom-select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

form .form-control:active, form .form-control:focus,
form .custom-select:active,
form .custom-select:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #faa515;
          box-shadow: 0px 0px 1px 2px #faa515;
}

#login-fact {
  margin: auto 0;
}

.form-custom img {
  width: 3rem;
  margin: auto;
  padding-bottom: 0.2rem;
}

.error-404 {
  padding: 4rem;
}

.alert-custom {
  background-color: transparent;
  border: 2px solid transparent;
}

.alert-success {
  color: #31f37b;
  border-color: #31f37b;
}

.alert-warning {
  color: #fad207;
  border-color: #fad207;
}

.alert-danger {
  color: #e22d4b;
  border-color: #e22d4b;
}

.list-quiz {
  border: 2px solid #ffffff79;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

.list-quiz p {
  color: #eeeeee;
}

.list-quiz:hover {
  border-color: #eeeeee;
  background-color: #222338;
}

.list-quiz:hover img {
  opacity: 1;
}

.quiz-title {
  font-size: 1.5rem;
}

.quiz-author {
  font-size: 0.75rem;
}

.quiz-go {
  width: 4rem;
  opacity: 0.75;
}

.new-question {
  border: 2px solid #ffffff79;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

.new-question:hover {
  border-color: #eeeeee;
  background-color: #222338;
}

#new-quiz-error {
  color: #e22d4b;
  height: 2rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.question-control {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-control .control-desc {
  visibility: visible;
}

.question-control .control-desc.control-del {
  color: #e22d4b;
}

.question-control .control-desc.control-add {
  color: #31f37b;
}

.question-control .icon {
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  opacity: 0.8;
  cursor: pointer;
}

.question-control .icon.icon-add {
  margin-right: 0.5rem;
  content: url("https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/plus.png");
}

.question-control .icon.icon-del {
  margin-left: 0.5rem;
  content: url("https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/cancel.png");
}

.question-control .icon:hover {
  opacity: 1;
}

#quiz-question {
  min-height: 8rem;
}

#quiz-answers:hover {
  cursor: pointer;
}

#quiz-answers :nth-child(1) {
  border-color: #bd2942;
}

#quiz-answers :nth-child(1):hover {
  border-color: #e22d4b;
}

#quiz-answers :nth-child(2) {
  border-color: #0072cf;
}

#quiz-answers :nth-child(2):hover {
  border-color: #008cff;
}

#quiz-answers :nth-child(3) {
  border-color: #23ce64;
}

#quiz-answers :nth-child(3):hover {
  border-color: #31f37b;
}

#quiz-answers :nth-child(4) {
  border-color: #faa515;
}

#quiz-answers :nth-child(4):hover {
  border-color: #fad207;
}

#review-error {
  color: #e22d4b;
}

.quiz-option {
  font-size: 0.9rem;
  border: 2px solid #eeeeee;
  border-radius: 0.25rem;
  padding: 1rem;
  min-height: 6rem;
  margin-top: 0.5rem;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.quiz-option:hover {
  background-color: #222338;
}

.quiz-option:hover:active {
  background-color: #1a1b2b;
}

.quiz-review {
  border: 2px solid #eeeeee;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

.quiz-review img {
  height: 0.75rem;
  width: 0.75rem;
  margin-bottom: 0.1rem;
}

.quiz-review .review-title {
  font-weight: 700;
}

.quiz-review .review-timestamp {
  font-size: 0.8rem;
}

#review-submitted {
  color: #31f37b;
}

#results-score {
  margin: 2rem 0;
}

#results-score .green {
  color: #31f37b;
}

#results-score .yellow {
  color: #fad207;
}

#results-score .red {
  color: #e22d4b;
}

#results-score .results-bold {
  font-size: 1.8rem;
  padding: 0.4rem 0.6rem;
}

#results-score .results-username {
  padding-left: 0;
}

.results-bold {
  font-weight: 700;
}

.results-response {
  border: 2px solid #ffffff79;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

.response-incorrect {
  border-color: #e22d4b;
  background-color: rgba(255, 0, 0, 0.1);
}

.response-incorrect .results-correctness {
  color: #e22d4b;
}

.response-correct {
  border-color: #31f37b;
  background-color: rgba(0, 255, 42, 0.1);
}

.response-correct .results-correctness {
  color: #31f37b;
}

.user-dash-control .btn-custom {
  width: 6rem;
}

html body {
  background-color: #111318;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #111318;
          box-shadow: inset 0 0 6px #111318;
}

body::-webkit-scrollbar-thumb {
  background-color: #222338;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  background-color: #1a1b2b;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  padding: 2rem;
}

a {
  color: #faa515;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: #fad207;
  text-decoration: none;
}

img,
label,
select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#scroll-btn {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 9;
  right: 25px;
  bottom: 35px;
  visibility: hidden;
  opacity: 0.75;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#scroll-btn img {
  height: 5rem;
  width: 5rem;
}

#scroll-btn:hover {
  opacity: 0.9;
}

#scroll-btn:active {
  opacity: 1;
}

#nav-spacer {
  height: 4.5rem;
}

#main-full {
  min-height: 33rem;
  margin-bottom: 2rem;
}

#main-split {
  min-height: 45rem;
  margin-bottom: 2rem;
}

#main-split::-webkit-scrollbar {
  width: 0.25em;
}

#main-split::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #111318;
          box-shadow: inset 0 0 6px #111318;
}

#main-split::-webkit-scrollbar-thumb {
  background-color: #222338;
}

#main-title {
  line-height: 3rem;
  font-size: 3rem;
}

#main-title img {
  height: 2.5rem;
  padding-bottom: 0.5rem;
}

#side-full {
  min-height: 45rem;
}

#side-split-top {
  min-height: 19rem;
  margin-bottom: 2rem;
}

#side-split-bottom {
  min-height: 24rem;
}

#page-footer {
  border: 0.25rem solid #222338;
  position: fixed;
  bottom: 0;
}

#share-btn {
  width: 9rem;
}

.btn-custom {
  color: #faa515;
  background-color: #1a1b2b;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid #faa515;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #faa515;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-custom:hover {
  color: #222338;
  border-color: #fad207;
  background-color: #fad207;
}

.btn-custom:active, .btn-custom:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #faa515;
          box-shadow: 0px 0px 1px 2px #faa515;
}

.btn-custom-flex {
  width: 100%;
}

.btn-custom-red {
  color: #e22d4b;
  background-color: #1a1b2b;
  border-color: #e22d4b;
  outline: #e22d4b;
}

.btn-custom-red:hover {
  border-color: #e22d4b;
  background-color: #e22d4b;
}

.btn-custom-red:active, .btn-custom-red:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #bd2942;
          box-shadow: 0px 0px 1px 2px #bd2942;
}

.btn-custom-blue {
  color: #008cff;
  background-color: #1a1b2b;
  border-color: #008cff;
  outline: #008cff;
}

.btn-custom-blue:hover {
  border-color: #008cff;
  background-color: #008cff;
}

.btn-custom-blue:active, .btn-custom-blue:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #0072cf;
          box-shadow: 0px 0px 1px 2px #0072cf;
}

.btn-custom-green {
  color: #31f37b;
  background-color: #1a1b2b;
  border-color: #31f37b;
  outline: #31f37b;
}

.btn-custom-green:hover {
  border-color: #31f37b;
  background-color: #31f37b;
}

.btn-custom-green:active, .btn-custom-green:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #23ce64;
          box-shadow: 0px 0px 1px 2px #23ce64;
}

.highlight {
  color: #faa515;
}

.divider-v {
  border-left: 3px solid;
  margin: 0 3rem;
}

.divider-h {
  border-bottom: 3px solid;
  margin: 2rem 0 3rem 0;
}

.border-red {
  border-color: #e22d4b;
}

.border-blue {
  border-color: #008cff;
}

.border-yellow {
  border-color: #fad207;
}

.border-yellow-darker {
  border-color: #faa515;
}

.border-green {
  border-color: #31f37b;
}

.border-purple {
  border-color: #9a4dff;
}

.border-tertiary {
  border-color: #222338;
}

.border-white {
  border-color: #eeeeee;
}
/*# sourceMappingURL=app.css.map */