@import "global";
@import "nav";
@import "form";
@import "404";
@import "flash";

html body {
  background-color: $dark;
  color: $white;
  font-family: $font-ss;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  background-color: $tertiary-darker;
  border-radius: 5px;
  border: 4px solid $primary-darker;
  padding: 2rem;
}

a {
  color: $primary-darker;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

form {

  .form-control {
    outline: none;
    box-shadow: none;
    border: none;

    &:active,
    &:focus {
      box-shadow: 0px 0px 1px 2px $primary-darker;
    }

  }

}

#nav-spacer {
  height: 5rem;
}

#main-full {
  // background-color: $tertiary;
  min-height: 33rem;
  margin-bottom: 2rem;
}

#main-split {
  background-color: $blue;
  min-height: 45rem;
  margin-bottom: 2rem;
}

#side-full {
  background-color: $purple;
  min-height: 45rem;
}

#side-split-top {
  background-color: $red;
  min-height: 19rem;
  margin-bottom: 2rem;
}

#side-split-bottom {
  background-color: $green;
  min-height: 24rem;
}

.btn-custom {
  color: $primary-darker;
  background-color: $tertiary-darker;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid $primary-darker;
  border-radius: 0.25rem;
  box-shadow: none;
  outline: $primary-darker;
  transition: 0.1s;
  user-select: none;

  &:hover {
    color: $tertiary;
    border-color: $primary;
    background-color: $primary;
  }

  &:active,
  &:focus {
    box-shadow: 0px 0px 1px 2px $primary-darker;
  }
}

.btn-custom-flex {
  width: 100%;
}

.btn-custom-red {
  color: $red;
  background-color: $tertiary-darker;
  border-color: $red;
  outline: $red;
  &:hover {
    border-color: $red;
    background-color: $red;
  }

  &:active,
  &:focus {
    box-shadow: 0px 0px 1px 2px $red-darker;
  }

}

.highlight {
  color: $primary-darker;
}

.divider-v {
  border-left: 3px solid $primary-darker;
  margin: 0 3rem;
}

.divider-h {
  border-bottom: 3px solid $primary-darker;
  margin: 2rem 0 3rem 0;
}

.border-red {
  border-color: $red;
}

.border-blue {
  border-color: $blue;
}

.border-green {
  border-color: $green;
}

.border-purple {
  border-color: $purple;
}