@import "global";
@import "nav";

html body {
  background-color: $dark;
  color: $white;
  font-family: $font-ss;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-top: 4rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}