@import "global";
@import "nav";
@import "index";

html body {
  background-color: $dark;
  color: $white;
  font-family: $font-ss;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  background-color: $tertiary;
  border-radius: 5px;
  padding: 1rem;
}

#main-full {
  background-color: $primary;
  min-height: 45rem;
  margin-bottom: 2rem;
}

#main-split {
  background-color: $blue;
  min-height: 45rem;
  margin-bottom: 2rem;
}

#side-full {
  background-color: $purple;
  min-height: 45rem;
}

#side-split-top {
  background-color: $red;
  min-height: 19rem;
  margin-bottom: 2rem;
}

#side-split-bottom {
  background-color: $green;
  min-height: 24rem;
}