#navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #222338;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#navigation a {
  color: #fff;
}

#navigation button {
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

#navigation button:hover {
  color: #fad207;
}

#navigation img {
  width: 2rem;
  margin-left: 0.5rem;
  padding-bottom: 0.2rem;
}

#navigation li a:hover {
  color: #fad207;
}

.form-custom img {
  width: 3rem;
  margin: auto;
  padding-bottom: 0.2rem;
}

#login-fact {
  margin: auto 0;
}

.error-404 {
  padding: 4rem;
}

.alert-custom {
  background-color: transparent;
  border: 4px solid transparent;
}

.alert-success {
  color: #31f37b;
  border-color: #31f37b;
}

.alert-warning {
  color: #fad207;
  border-color: #fad207;
}

.alert-danger {
  color: #e22d4b;
  border-color: #e22d4b;
}

.list-quiz {
  border: 2px solid #ffffff79;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.list-quiz p {
  color: #fff;
}

.list-quiz:hover {
  border-color: #fff;
  background-color: #222338;
}

.quiz-title {
  font-size: 1.5rem;
}

.quiz-go {
  width: 4rem;
}

.new-question {
  border: 2px solid #ffffff79;
  border-radius: 0.25rem;
  min-height: 10rem;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

.new-question:hover {
  border-color: #fff;
  background-color: #222338;
}

.add-control .control-desc {
  visibility: visible;
}

.add-control .control-desc.control-del {
  color: #e22d4b;
}

.add-control .control-desc.control-add {
  color: #31f37b;
}

.add-control .icon {
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0rem 0.5rem 0 0;
  opacity: 0.8;
  cursor: pointer;
}

.add-control .icon.icon-add {
  content: url("https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/plus.png");
}

.add-control .icon.icon-del {
  content: url("https://raw.githubusercontent.com/itspladd/quiz-app/dev/frontend/public/images/cancel.png");
}

.add-control .icon:hover {
  opacity: 1;
}

html body {
  background-color: #111318;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

html body::-webkit-scrollbar {
  width: 1em;
}

html body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #111318;
          box-shadow: inset 0 0 6px #111318;
}

html body::-webkit-scrollbar-thumb {
  background-color: #222338;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  background-color: #1a1b2b;
  border-radius: 5px;
  border: 4px solid #008cff;
  padding: 2rem;
}

a {
  color: #faa515;
}

a:hover {
  color: #fad207;
  text-decoration: none;
}

form .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

form .form-control:active, form .form-control:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #faa515;
          box-shadow: 0px 0px 1px 2px #faa515;
}

#nav-spacer {
  height: 4.5rem;
}

#main-full {
  min-height: 33rem;
  margin-bottom: 2rem;
}

#main-split {
  height: 45rem;
  margin-bottom: 2rem;
}

#main-split::-webkit-scrollbar {
  width: 1em;
}

#main-split::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #111318;
          box-shadow: inset 0 0 6px #111318;
}

#main-split::-webkit-scrollbar-thumb {
  background-color: #222338;
}

#main-title {
  line-height: 3rem;
  font-size: 3rem;
}

#main-title img {
  height: 2.5rem;
  padding-bottom: 0.5rem;
}

#side-full {
  min-height: 45rem;
}

#side-split-top {
  min-height: 19rem;
  margin-bottom: 2rem;
}

#side-split-bottom {
  min-height: 24rem;
}

.btn-custom {
  color: #faa515;
  background-color: #1a1b2b;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid #faa515;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #faa515;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-custom:hover {
  color: #222338;
  border-color: #fad207;
  background-color: #fad207;
}

.btn-custom:active, .btn-custom:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #faa515;
          box-shadow: 0px 0px 1px 2px #faa515;
}

.btn-custom-flex {
  width: 100%;
}

.btn-custom-red {
  color: #e22d4b;
  background-color: #1a1b2b;
  border-color: #e22d4b;
  outline: #e22d4b;
}

.btn-custom-red:hover {
  border-color: #e22d4b;
  background-color: #e22d4b;
}

.btn-custom-red:active, .btn-custom-red:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #bd2942;
          box-shadow: 0px 0px 1px 2px #bd2942;
}

.highlight {
  color: #faa515;
}

.divider-v {
  border-left: 3px solid #faa515;
  margin: 0 3rem;
}

.divider-h {
  border-bottom: 3px solid #faa515;
  margin: 2rem 0 3rem 0;
}

.border-red {
  border-color: #e22d4b;
}

.border-blue {
  border-color: #008cff;
}

.border-primary {
  border-color: #fad207;
}

.border-primary-darker {
  border-color: #faa515;
}

.border-green {
  border-color: #31f37b;
}

.border-purple {
  border-color: #9a4dff;
}

.border-tertiary {
  border-color: #222338;
}
/*# sourceMappingURL=app.css.map */